@charset "UTF-8";

body{
    background-color: peachpuff;
    text-align: center;
}

h1{
    color: plum;
}

h2{
    color: plum;
}

p{
    color: slategrey;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}